<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">>
<head>
  <div th:replace="~{common :: head}"></div>
</head>
<body>

<!-- debug-->
<!--<div class="my-2 my-lg-0">-->
<!--  <ul class="navbar-nav"-->
<!--      th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">-->
<!--    <li class="nav-item pull-sm-0">-->
<!--                    <span th:case="${false}">-->
<!--                            <a class="nav-link btn btn-outline-primary" href="/login">Войдите</a>-->
<!--                    </span>-->
<!--      <span th:case="${true}">-->
<!--                        <form th:action="@{/logout}" method="post">-->
<!--                            <input class="btn btn-outline-primary" type="submit" value="Выход"/>-->
<!--                        </form>-->
<!--                    </span>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<!-- debug-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WebApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"
          th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/main">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user">User list</a>
        </li>
        <!-- debug-->
        <li class="nav-item">
          <span th:case="${true}">
            <a class="nav-link btn btn-outline-primary">Profile</a>
          </span>
          <span th:case="${false}">
            <a class="nav-link btn btn-outline-primary">Profile false</a>
          </span>
        </li>
        <!-- debug-->
      </ul>
      <div class="navbar-text">"param.username"</div>
    </div>
  </div>
</nav>
</body>
</html>


