<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{common :: head}"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WebApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/main">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user">User list</a>
        </li>
      </ul>
      <div class="navbar-text">"param.username"</div>
    </div>
  </div>
</nav>
</body>
</html>


