<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>Getting</title>
  <!--  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
  <div th:replace="~{common :: head}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container mt-5">
  <h5>Hello, guest</h5>
  <div>This is a simple clone of Twitter</div>
</div>


<!-- debug-->
<div th:if="${#authentication == null}">
  #authentication = null
</div>

<div sec:authorize="isAuthenticated()">
  This content is only shown to authenticated users.
</div>


<!--<div th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--  ${#authorization.expression('isAuthenticated()')}-->
<!--</div>-->
<!-- debug-->


<div th:replace="~{common :: body}"></div>


</body>
</html>
