<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>Getting</title>
  <!--  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
  <div th:replace="~{common :: head}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container mt-5">

  <div th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <span th:case="${false}">
        <h5>Hello, guest</h5>
    </span>
    <span th:case="${true}">
        <h5>Hello, <span th:text="${#authentication.name}"></span></h5>
    </span>
  </div>

  <div>This is a simple clone of Twitter</div>
</div>

<div th:replace="~{common :: body}"></div>


</body>
</html>
