<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>Main page</title>
  <div th:replace="~{common :: head}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
  <div>
    <form method="post" th:action="@{/add}" enctype="multipart/form-data">
      <input type="text" name="text" placeholder="Введите сообщение"/>
      <div th:if="${message}">
        <span class="error" th:if="${#fields.hasErrors('message.text')}" th:errors="*{message.text}"></span>
      </div>
      <input type="text" name="tag" placeholder="Тэг">
      <div th:if="${message}">
        <span class="error" th:if="${#fields.hasErrors('message.tag')}" th:errors="*{message.tag}"></span>
      </div>
      <input type="file" name="file">
      <button type="submit">Добавить</button>
    </form>
  </div>


  <div>Найти сообщения по тэгу</div>
  <form method="get" th:action="@{/main}">
    <input type="text" name="filter" th:value="${filter}" placeholder="Введите тэг">
    <button type="submit">Найти</button>
  </form>
  <div>Список сообщений</div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Text</th>
      <th>Tag</th>
      <th>Author</th>
      <th>img</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
      <td th:text="${message.id}"></td>
      <td th:text="${message.text}"></td>
      <td th:text="${message.tag}"></td>
      <td th:text="${message.authorName}"></td>
      <td>
        <div th:if="${message.filename}">
          <img th:src="@{/images/__${message.filename}__}" width="100" height="100" alt="Image">
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <style>
    table {
        border-collapse: collapse;
        width: 50%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: lightgray;
    }

  </style>
</div>


<!-- debug-->


<div sec:authorize="hasRole('USER')">
  1 This content is only shown to users.
</div>
<div sec:authorize="hasRole('ADMIN')">
  2 This content is only shown to ADMIN.
</div>

<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
  3 This will only be displayed if authenticated user has role ROLE_ADMIN.
</div>


<div sec:authorize="hasRole('ROLE_ADMIN')">
  4 This will only be displayed if authenticated user has role ROLE_ADMIN.
</div>

<div sec:authorize="${hasRole(#vars.expectedRole)}">
  5 This will only be displayed if authenticated user has a role computed by the controller.
</div>

<div th:if="${#authorization.expression('hasRole(''USER'')')}">
  7 This content is only shown to users.
</div>
<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
  8 This content is only shown to ADMIN.
</div>

<!-- debug-->
</body>
</html>
