<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example </title>
  <div th:replace="~{common :: head}"></div>
</head>
<body>
<div class="container">
  <div th:replace="~{fragments/header :: header}">Header</div>
  <p class="h4 mb-3 text-start mt-3">Registration</p>
  <div th:if="${param.error}">
    Invalid username and password.
  </div>
  <div th:if="${param.logout}">
    You have been logged out.
  </div>
  <div th:if="${messages}">
    <p th:text="${messages}"></p>
  </div>
  <form th:action="@{/registration}" method="post">
    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label">User Name :</label>
      <div class="col-sm-4">
        <input type="text" name="username" class="form-control"
               th:placeholder="username"
               th:classappend="${user != null and #fields.hasErrors('user.username')} ? 'is-invalid' : ''"/>
        <div class="invalid-feedback">
        <span class="error"
              th:if="${user != null and #fields.hasErrors('user.username')}"
              th:errors="*{user.username}"></span>
        </div>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label">Password:</label>
      <div class="col-sm-4">
        <input type="password" name="password" class="form-control"
               th:placeholder="password"
               th:classappend="${user != null and #fields.hasErrors('user.username')} ? 'is-invalid' : ''"/>
        <div class="invalid-feedback">
        <span class="error"
              th:if="${user != null and #fields.hasErrors('user.password')}"
              th:errors="*{user.password}"></span>
        </div>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label">Password validation:</label>
      <div class="col-sm-4">
        <input type="text" name="password2" class="form-control"
               th:placeholder="password"
               th:classappend="${passwordError} ? 'is-invalid' : ''"/>
        <div class="invalid-feedback">
        <span class="error"
              th:if="${passwordError}"
              th:errors="*{passwordError}"></span>
        </div>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-4">
        <input type="email" name="email" class="form-control"
               th:placeholder="email"
               th:classappend="${user != null and #fields.hasErrors('user.email')} ? 'is-invalid' : ''"/>
        <div class="invalid-feedback">
        <span class="error"
              th:if="${user != null and #fields.hasErrors('user.email')}"
              th:errors="*{user.email}"></span>
        </div>
      </div>
    </div>

    <button class="btn btn-primary mb-3" type="submit">Add user</button>

  </form>

  <p><a class="link-offset-2 link-underline link-underline-opacity-50" href="/login">Sign in</a></p>

</div>
</body>
</html>