<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>User Edit</title>
</head>
<body>

<form th:action="@{/user}" method="post" th:object="${user}">
  <div>UserName</div>
  <input type="text" name="username" th:value="${user.username}">
  <input type="hidden" th:value="${user.id}" name="userId">


  <div th:each="role : ${roles}">
    <label>
      <input type="checkbox" th:field="*{roles}" th:value="${role}"
             th:checked="${user.roles.contains(role)}"/>
      <span th:text="${role.name}"></span>
    </label>
  </div>

  <button type="submit">Save</button>
</form>



</body>
</html>
